@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
$font: 'Lora', serif;

ion-content {
  --background: #264653;
  --background: linear-gradient(
    215deg,
    #E76F51 16%,
    #2A9D8F 66%,
    #F4A261 66%
  );
  position: relative;
}

.btn-menu {
  border: 2px solid #E9C46A;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
}

// VISTAS ANIMALES
.img-animal-vert {
  width: 10rem;
  height: 10rem;
  border: 5px ridge #E9C46A;
  object-fit: contain;
  border-radius: 40px;
  box-shadow: 3px 3px 3px #000;
}
.img-animal-vert:active {
  transform: scale(0.9);
  box-shadow: 0 0 16px rgb(240, 0, 0);
  transition: transform 0.3s;
}

.img-animal-hor {
  border: 5px ridge #E9C46A;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 60px;
  box-shadow: 3px 3px 3px #000;
}
.img-animal-hor:active {
  transform: scale(0.9);
  box-shadow: 0 0 16px rgb(240, 0, 0);
  transition: transform 0.3s;
}

.grid-vertical-animales {
  height: 89%;
  display: flex;
  flex-flow: column;
}

.grid-horizontal-animales {
  height: 89%;
  display: flex;
  flex-flow: column;
}

@media (min-height: 600px) {
  .grid-vertical-animales {
    display: flex;
  }
  .grid-horizontal-animales {
    display: none;
  }
}

@media (max-height: 600px) {
  .grid-vertical-animales {
    display: none;
  }
  .grid-horizontal-animales {
    display: flex;
  }
  .img-back{
    display: none;
  }

  
}

//SPINNER
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.custom-spinner img {
  animation: rotate-center 1s ease-in-out infinite both;
  max-width: 200px;
  height: 200px;
  opacity: 1;
}

.custom-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background-color: rgba(121, 119, 119, 0.932);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
}

.spinnerh1 {
  font-family: $font;
  position: absolute;
  top: 200px;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}